@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --back-color: black;
  --text-color: white;
  --logo-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.site-logo {
  color: white;
  font-size: var(--logo-size);
}